.page {

  &__header {
    background: $white;
    height: 100px;
    padding: $base-spacing;
  }
}

.subtitle {
  text-align: center;
  font-weight: bold
}

img { 
  max-width:100%;
  max-height:100%;
}
